#navbar{
    display: flex;
    height: 45px;
    width: 100%;
    border: 1px solid black;
     background-color: black; 
   justify-content: space-evenly;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   
     
}
#icon{
   margin-left: -20px;
   margin-top: 14px;
    
}
#text{
    margin-left:-145px;
    margin-top: 12px;
    font-weight: 800;
    color:white;
    font-size: 14px;
    font-family: sans-serif;
}
#text2{
    margin-left: 80px;
    margin-top: 12px;
    font-weight: 800;
    color:white;
    font-size: 14px;
    font-family: sans-serif;
}
#icon2{
    margin-left:-115px;
    margin-top: 10px;
}
#icon3{
    margin-left:-135px;
    margin-top: 10px;

}
#icon4{
    margin-left:-135px;
    margin-top: 10px;

}
img{
    margin-left: -145px;
    margin-top: 5px;
}
#logobar{
    width: 100%;
    height: 140px;
    /* border: 1px solid brown; */
    
}
#deccan{
    text-align: center;
   
}
.img{
    margin-left: 45rem;
}
#time{
    margin-left: 32rem;
    margin-top: 25px;
    font-weight: 500;
    font-size: 19px;
    font-family:sans-serif ;
}
#container{
    display: flex;
    /* border: 1px solid red; */
    width: 82%;
    height: 7rem;
    margin-top: 0px;
    margin-left: 8rem;

}
#hori{
   width: 100%;
   height: 1px;
   border: 1.5px solid black;
   background-color: black;
  
    
}
#menu{
     width: 100%;
    /* border: 1px solid black; */
    display: flex;
    height: 52px; 
}
#list{
    display: flex;
    margin-top:7px;
    /* border:1px solid teal; */
    height:55px;
    width:100%;
    justify-content: space-around;
    
}
#menu li a{
    text-decoration: none;
}
li{
    list-style:none;
    font-family: sans-serif;
    font-size: 22px;
    font-weight: 200;
    margin-top: 11px;
    
}
li a{
    color: black;
}
li a:hover{
    color: black;
    background-color:#eee;
    
}


#add{
    width: 100%;
    height: 1.5px;
    border: 1px solid #808080;
    background-color: #808080;
    margin-top: 45px;
}
#foot{
    width: 100%;
    height: 13rem;
    border: 1px solid #e4e4e4;
    background-color: #f2f2f2;
}
#search{
    display: flex;
    margin-left: 25rem;
    margin-top: 15px;
}
#search button{
    margin-left: 15px;
    width: 75px;
    background-color: #cecece;
    border: 0.5px solid black;
}
#search input{
    width: 45%;
    height: 35px;
}
#part{
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
    font-weight: 800;
    font-size: 16px;
    color: #383838;
    cursor: pointer;
   
}
#last{
   font-family: sans-serif;
   text-align:center;
   font-size: 20px;
   font-weight: 300;
   color: 
   #7b7b7b;
   line-height: 22px;
   vertical-align: baseline;
   letter-spacing: normal;
   word-spacing: 0px;
   padding: 0px;
}
.drop{
    position: relative;
    display: inline-block;
}
.dropdown-content{
    display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;

}
.drop:hover .dropdown-content{
    display: block;
}
#box{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto;
    gap: 15px;
    width: 82%;
    height: auto;
    /* border: 1px solid black; */
    
    margin-top: 10px;
    margin-left: 8rem;
}
#d1{
    /* display: grid; */
    /* grid-template-columns: repeat(2,1fr);
    grid-template-rows: auto; */
    gap: 15px;
    justify-content: space-between;
    /* border: 1px solid blue; */
}
#img1{
    height: 365px;
    width: 36rem;
    margin-left: 12px;
    justify-content: center;
}
    
